[submodule "haskell-fractal"]
	path = haskell-fractal
	url = https://github.com/Fulguritude/haskell-fractal
[submodule "rust-fractal"]
	path = rust-fractal
	url = https://github.com/Fulguritude/rust-fractal
[submodule "42_fractol"]
	path = c-fractal
	url = https://github.com/Fulguritude/42_fractol
[submodule "webpack-react-test"]
	path = reactts-fractal
	url = https://github.com/LexouDuck/webpack-react-test
